# Default ignored files
**_old**

# Don't upload personal saved data
**/data/*
# Except for CoinGeckoIDs and the registry
!registry.yaml
!CoinGeckoIDs.json

# Helper files
**.vs
**.vscode
**pytest**
**__pycache__
**.egg**
**.code-workspace
**.tar**